body{
    background-color: black;
    color: white;
    font-size: 20px;
    font-style: italic;
}

section p{
    text-align: center;
    font-size: 28px;
}
section ol{
    background-color: bisque;
    
}